pandas
numpy

scikit-learn==1.6.1
lightgbm
joblib

sqlalchemy
psycopg2-binary

fastapi
uvicorn

streamlit
requests

python-dotenv

pytest
httpx

matplotlib
jupyter

sqlalchemy
psycopg2-binary
python-dotenv